.col-home{
    width: 100% !important;
}

.container-post{
    width: 95%;
    height: 700px;
    position: relative;
    border: solid 1px rgb(104, 104, 104);
    margin-top: 3%;
}

.header-post{
    height: 12%;
    width: 100%;
    border: solid 1px rgb(104, 104, 104);
}

.header-post svg{
    font-size: 25px;
}

.img-header-post img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.container-img-post{
    height: 68%;
    width: 100%;
    border: solid 1px rgb(104, 104, 104);
}

.container-img-post img{
    width: 100%;
    max-height: 100%;
}

.accions-post svg{
    font-size: 25px;
    margin: 10px;
}

.save-post{
    position: absolute;
    right: 0;
}

.info-post{
    margin: 10px;
}

.container-stories{
    display: flex;
    align-items: center;
    height: 100px;
    border: solid 2px rgb(104, 104, 104);
    border-radius: 8px;
    width: 95%;
    margin-top: 5%;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container-stories::-webkit-scrollbar {
    display: none;
}

.arrow-rigth-storie {
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 30px;
    display: none;
}

.arrow-left-storie {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 30px;
    display: none;
}

.arrow-left-storie svg{
    margin-top: -50%;
    margin-right: -50%;
}

.arrow-rigth-storie svg{
    margin-top: -50%;
    margin-left: -50%;
}

.storie{
    margin: 10px;
}

.storie img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.storie span{
    font-size: 12px;
    margin-left: -20%;
}


@media only screen and (min-width:600px){
    .container-post{
        width: 85%;
    }
    .arrow-rigth-storie{
        display: flex;
    }
    .arrow-left-storie{
        display: flex;
    }
}

@media only screen and (min-width:800px){
    .container-post{
        width: 55%;
    }
    .container-stories{
        width: 65%;
    }
}

@media only screen and (min-width:1000px){
    .container-post{
        width: 35%;
    }
    .container-stories{
        width: 50%;
        height: 120px;
    }
    .storie img{
        height: 70px;
        width: 70px;
    }
}