.menu{
    position: fixed;
}
.container-menu{
    background-color: rgb(230, 237, 240);
    height: 100vh;
    padding-top: 15%;
    width: 100%;
}
.container-list-menu{
    padding-left: 0px;
    margin-top: 20%;
    list-style: none;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container-list-menu .container-item-menu{
    cursor: pointer;
    margin-top: 25%;
    display: flex;
    align-items: center;
}
.container-list-menu .container-item-menu div{
    margin-top: -2%;
    margin-left: 3%;
}
.container-item-menu svg{
    font-size: 30px;
}
.icon-instagram{
    display: none;
}
.icon-instagram svg{
    margin-top: -50%;
}
.more{
    position: absolute;
    bottom: 0;
    margin-bottom: 20%;
}
@media only screen and (max-width:1300px){
    .container-menu{
        width: 100px;
    }
    .container-list-menu .container-item-menu{
        margin-top: 100%;
    }
    .item-menu{
        display: none;
    }
    .container-item-menu{
        font-size: 35px;
    }
    .header img{
        display: none;
    }
    .icon-instagram{
        display: block;
        font-size: 40px;
    }
    .more{
        display: none;
    }
}
@media only screen and (max-width:1000px){
    .container-menu{
        width: 100%;
        height: 80px;
        position: fixed;
        padding-top: 0px;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon-instagram{
        display: none;
    }
    .container-list-menu{
        display: flex;
        margin-top: 0%;
        align-items: center;
    }
    .container-list-menu .container-item-menu{
        margin-top: 0px;
    }
    .container-item-menu{
        margin: 35px;
    }
    .container-item-menu.icon-mobile{
        display: none;
    }
    .more{
        display: none !important;
    }
}

@media only screen and (max-width:660px){
    .container-item-menu{
        margin: 15px;
    }
}