.img-profile{
    border-radius: 150px;
    width: 100px;
    height: 100px;
}
.container-data-profile{
    margin-left: -30%;
}
.button-edit{
    width: 220px;
}
.description span{
    font-weight: bold;
}
.description p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-amount-profile{
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.mob{
    display: block;
}
.desk{
    display: none;
}
.amount-profile{
    list-style: none;
    margin-bottom: 0rem;
}
.amount-profile *{
    margin: 6px;
}
.amount-profile li span{
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.amount-profile li p{
    color: gray;
}

.imgs-profile{
    width: 100%;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
}

.imgs-profile > *{
    padding-right: 0px !important;
    padding-left: 2px !important;
    padding-bottom: 10px;
}

.imgs-profile img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.container-imgs{
    display: block;
}
.icons-container{
    display: none;
}
.menu{
    display: none;
}
@media only screen and (min-width:570px){
    .menu{
        display: flex;
    }
    .mob{
        display: none;
    }
    .desk{
        display: block;
    }
    .img-profile{
        border-radius: 150px;
        width: 200px;
        height: 200px;
        margin-left: 15%;
    }
    .container-amount-profile{
        justify-content: left;
        border: none;
    }
    .amount-profile{
        padding-left: 0px;
        margin-left: -1.5%;
        margin-top: 10px;
    }
    .amount-profile li{
        font-size: 20px;
        display: flex;
    }
    div.description{
        margin-left: -1.5%;
    }
    .container-imgs{
        display: flex;
    }
    .imgs-profile img{
        width: 95%;
        height: 288px;
    }
    .icons-container{
        display: flex;
    }
    .icons-container div{
        border-top: 1px solid rgb(119, 119, 119);
    }
    .icons-container span{
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
    }
    .icon-saved{
        margin-left: 10%;
    }
}