.img-profile{
    border-radius: 150px;
    width: 100px;
    height: 100px;
}
.container-data-profile{
    margin-left: -30%;
}
.button-edit{
    width: 220px;
}
.description span{
    font-weight: bold;
}
.description p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-amount-profile{
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    max-width: 1000px !important;
    width: 100% !important;
}

.mob{
    display: block;
}
.desk{
    display: none;
}
.amount-profile{
    list-style: none;
    margin-bottom: 0rem;
}
.amount-profile *{
    margin: 6px;
}
.amount-profile li span{
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.amount-profile li p{
    color: gray;
}

.imgs-profile{
    width: 100%;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
}

.imgs-profile > *{
    padding-right: 0px !important;
    padding-left: 2px !important;
    padding-bottom: 10px;
}

.imgs-profile img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.container-imgs{
    display: block;
}
.icons-container{
    display: none;
}
.menu{
    display: none;
}
.number-profile{
    width: 100% !important;
}


.container-own-post{
    background: rgba(18, 18, 18, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    overflow: hidden;
}

.modal-own-post{
    width: 300px;
    height: 500px;
    background-color: rgb(180, 177, 177);
    border-radius: 8px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.header-own-post{
    border-bottom: solid 1px black;
    height: 15%;
}

.image-own-post{
    height: 60%;
    width: 100%;
}

.right-own-post{
    display: none;
}

.decription-own-post{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (min-width:1000px){
    .menu{
        display: flex;
    }
    .mob{
        display: none;
    }
    .desk{
        display: block;
    }
    .img-profile{
        border-radius: 150px;
        width: 200px;
        height: 200px;
    }
    .container-header-profile{
        display: flex;
        justify-content: center;
    }
    .container-amount-profile{
        justify-content: left;
        border: none;
    }
    .amount-profile{
        padding-left: 0px;
        margin-left: -1.5%;
        margin-top: 10px;
    }
    .amount-profile li{
        font-size: 20px;
        display: flex;
    }
    div.description{
        margin-left: -1.5%;
    }
    .container-imgs{
        display: flex;
        justify-content: flex-end;
    }
    .imgs-profile{
        width: 90%;
    }
    .imgs-profile img{
        width: 95%;
        height: 288px;
    }
    .icons-container{
        display: flex;
    }
    .icons-container span{
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
    }
    .icon-saved{
        margin-left: 10%;
    }
    .menu-mobile{
        display: none;
    }
    
    .modal-own-post{
        width: 55%;
        height: 90%;
    }
    
    .mobile-header{
        display: none;
    }
    
    .image-own-post{
        height: 100%;
        width: 100%;
    }
    .modal-own-post .lowerzone{
        display: none;
    }
    .right-own-post{
        display: block;
        background-color: rgb(160, 159, 159);
        height: 90%;
        width: 30%;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .header-own-post{
        height: 10%;
    }
    .own-post-coments{
        height: 60%;
    }
    .right-own-post .lowerzone{
        border-top: solid 1px black;
        border-bottom: solid 1px black;
    }
    .own-post-input{
        height: 11%;
    }
    .own-post-input textarea{
        width: 100%;
        height: 80%;
        background-color: transparent;
        border: none;
        resize: none;
    }
}